<!DOCTYPE html>
<html>
<head>
  <title>Ping On Restaurant</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>

<style>
.cont1 {
	width: 75%;
	height: 300px;
	position: relative;
	float: left;
	background-color: #fff;
}
.cont2 {
	width: 25%;
	height: 300px;
	position: relative;
	float: left;
	background-color: #eee;
}
</style>
<body>
	<div class="cont1">
		<p>Test main body</p>
	</div>
		<div class="cont2">
			<p>Test side bar</p>
		</div>
<%= yield %>
</body>

<%= render :partial => "", :layout => "graybar" %>

</html>
